---
import Layout from "../layouts/Layout.astro";
import Profile from "../components/Profile.astro";
import List from "../components/List.astro";
---

<Layout title="Link tree | Serhii Shramko">
  <div class="container">
    <Profile />
    <main>
      <List />
    </main>
  </div>
</Layout>
