---
import Instagram from "./icons/instagram.astro";
import Linkedin from "./icons/linkedin.astro";
import Youtube from "./icons/youtube.astro";
import Pdf from "./icons/pdf.astro";
import Github from "./icons/github.astro";
import ProductHunt from "./icons/producthunt.astro";
import Star from "./icons/star.astro";
import Message from "./icons/message.astro";
import Twitch from "./icons/twitch.astro";
import Rocket from "./icons/rocket.astro";
import Reddit from "./icons/reddit.astro";
import type { IconName } from "../data/user";

interface Props {
  icon: IconName;
  title: string;
  description: string;
  url: string;
}

const { icon, title, description, url } = Astro.props;

const IconComponent = {
  instagram: Instagram, linkedin: Linkedin, star: Star, youtube: Youtube, github: Github, pdf: Pdf,
  producthunt: ProductHunt, message: Message, twitch: Twitch, rocket: Rocket, reddit: Reddit,
}[icon];
---

<a href={url} class="link" target="_blank" rel="noopener noreferrer">
    <span class="link__icon">
      {IconComponent &&
        <IconComponent />}
    </span>

  <div class="link__content">
    <h2 class="link__title">{title}</h2>
    <p class="link__description">{description}</p>
  </div>
</a>

<style>
  .link {
    padding: 0.75rem;
    display: flex;
    border: 1px solid var(--zinc-800);
    border-radius: 1rem;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out;
  }

  .link:hover,
  .link:focus-visible {
    border: 1px solid var(--zinc-50);
  }

  .link:focus-visible {
    outline: 2px solid var(--zinc-50);
    outline-offset: 2px;
  }

  .link__icon :global(svg) {
    width: 1.5rem;
    color: var(--zinc-50);
  }

  .link__icon {
    flex-shrink: 0;
    width: 3rem;
    height: 3rem;
    margin-right: 1.125rem;
    background-color: var(--zinc-900);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link__content {
    min-width: 0;
  }

  .link__title,
  .link__description {
    font-size: 1rem;
  }

  .link__title {
    color: var(--zinc-50);
    font-weight: normal;
  }

  .link__description {
    color: var(--zinc-400);
    margin-top: 0.125rem;
  }
</style>
